name: CI

on:
  push:
    branches: [ master, dev, ci_testing, experiments ]
  pull_request:
    branches: [ master, dev ]

env:
  LLVM_RELEASE_VERSION_WINDOWS: 18
  LLVM_RELEASE_VERSION_MAC: 18
  LLVM_RELEASE_VERSION_LINUX: 19
  LLVM_RELEASE_VERSION_OPENBSD: 19
  LLVM_RELEASE_VERSION_UBUNTU22: 19
  LLVM_RELEASE_VERSION_ALPINEv3_22: 20
  LLVM_DEV_VERSION: 22
jobs:

  build-linux:
    runs-on: ubuntu-22.04
    strategy:
      # Don't abort runners if a single one fails
      fail-fast: false
      matrix:
        build_type: [Release, Debug]
        llvm_version: [17, 18, 19, 20, 21, 22]

    steps:
      - uses: actions/checkout@v4
      - name: Install common deps
        run: |
          sudo apt-get update
          sudo apt-get install zlib1g zlib1g-dev python3 ninja-build curl libcurl4-openssl-dev

      - name: Install Clang ${{matrix.llvm_version}}
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          if [[ "${{matrix.llvm_version}}" < 18 ]]; then
            sudo add-apt-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-${{matrix.llvm_version}} main"
            sudo apt-get update
            sudo apt-get install -y -t llvm-toolchain-focal-${{matrix.llvm_version}} libpolly-${{matrix.llvm_version}}-dev \
              clang-${{matrix.llvm_version}} llvm-${{matrix.llvm_version}} llvm-${{matrix.llvm_version}}-dev \
              lld-${{matrix.llvm_version}} liblld-${{matrix.llvm_version}}-dev libmlir-${{matrix.llvm_version}} \
              libmlir-${{matrix.llvm_version}}-dev mlir-${{matrix.llvm_version}}-tools
          else
            if [[ "${{matrix.llvm_version}}" < "${{env.LLVM_DEV_VERSION}}" ]]; then
              sudo add-apt-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-${{matrix.llvm_version}} main"
              sudo apt-get update
              sudo apt-get install -y -t llvm-toolchain-focal-${{matrix.llvm_version}} libpolly-${{matrix.llvm_version}}-dev \
                clang-${{matrix.llvm_version}} llvm-${{matrix.llvm_version}} llvm-${{matrix.llvm_version}}-dev \
                lld-${{matrix.llvm_version}} liblld-${{matrix.llvm_version}}-dev
            else
              sudo add-apt-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal main"
              sudo apt-get install -y -t llvm-toolchain-focal libpolly-${{matrix.llvm_version}}-dev \
                clang-${{matrix.llvm_version}} llvm-${{matrix.llvm_version}} llvm-${{matrix.llvm_version}}-dev \
                lld-${{matrix.llvm_version}} liblld-${{matrix.llvm_version}}-dev
            fi
          fi
      - name: CMake
        if: matrix.llvm_version < 18 || matrix.llvm_version == env.LLVM_DEV_VERSION
        run: |
          cmake -B build \
                -G Ninja \
                -DCMAKE_BUILD_TYPE=${{matrix.build_type}} \
                -DCMAKE_C_COMPILER=clang-${{matrix.llvm_version}} \
                -DCMAKE_CXX_COMPILER=clang++-${{matrix.llvm_version}} \
                -DCMAKE_LINKER=lld-link-${{matrix.llvm_version}} \
                -DCMAKE_OBJCOPY=llvm-objcopy-${{matrix.llvm_version}} \
                -DCMAKE_STRIP=llvm-strip-${{matrix.llvm_version}} \
                -DCMAKE_DLLTOOL=llvm-dlltool-${{matrix.llvm_version}} \
                -DLLVM_ENABLE_LIBXML2=OFF \
                -DC3_LLVM_VERSION=${{matrix.llvm_version}}
          cmake --build build
      - name: CMake18
        if: matrix.llvm_version >= 18 && matrix.llvm_version != env.LLVM_DEV_VERSION
        run: |
          cmake -B build \
                -G Ninja \
                -DCMAKE_BUILD_TYPE=${{matrix.build_type}} \
                -DCMAKE_C_COMPILER=clang-${{matrix.llvm_version}} \
                -DCMAKE_CXX_COMPILER=clang++-${{matrix.llvm_version}} \
                -DCMAKE_LINKER=lld-link-${{matrix.llvm_version}} \
                -DCMAKE_OBJCOPY=llvm-objcopy-${{matrix.llvm_version}} \
                -DCMAKE_STRIP=llvm-strip-${{matrix.llvm_version}} \
                -DCMAKE_DLLTOOL=llvm-dlltool-${{matrix.llvm_version}} \
                -DLLVM_ENABLE_LIBXML2=OFF \
                -DC3_LLVM_VERSION=${{matrix.llvm_version}}.1
          cmake --build build

      - name: Compile and run some examples
        run: |
          cd resources
          ../build/c3c compile examples/base64.c3
          ../build/c3c compile examples/binarydigits.c3
          ../build/c3c compile examples/brainfk.c3
          ../build/c3c compile examples/factorial_macro.c3
          ../build/c3c compile examples/fasta.c3
          ../build/c3c compile examples/gameoflife.c3
          ../build/c3c compile examples/hash.c3
          ../build/c3c compile-only examples/levenshtein.c3
          ../build/c3c compile examples/load_world.c3
          ../build/c3c compile-only examples/map.c3
          ../build/c3c compile examples/mandelbrot.c3
          ../build/c3c compile examples/plus_minus.c3
          ../build/c3c compile examples/nbodies.c3
          ../build/c3c compile examples/spectralnorm.c3
          ../build/c3c compile examples/swap.c3
          ../build/c3c compile examples/contextfree/boolerr.c3
          ../build/c3c compile examples/contextfree/dynscope.c3
          ../build/c3c compile examples/contextfree/guess_number.c3
          ../build/c3c compile examples/contextfree/multi.c3
          ../build/c3c compile examples/contextfree/cleanup.c3
          ../build/c3c compile-run examples/hello_world_many.c3
          ../build/c3c compile-run examples/time.c3
          ../build/c3c compile-run examples/fannkuch-redux.c3
          ../build/c3c compile-run examples/contextfree/boolerr.c3
          ../build/c3c compile-run examples/load_world.c3
          ../build/c3c compile-run examples/process.c3
          ../build/c3c compile-run examples/ls.c3
          ../build/c3c compile-run --linker=builtin linux_stack.c3
          ../build/c3c compile-run linux_stack.c3
          ../build/c3c compile-run examples/args.c3 -- foo -bar "baz baz"

      - name: Compile and run dynlib-test
        run: |
          cd resources/examples/dynlib-test
          ../../../build/c3c -vv dynamic-lib add.c3
          mv add.so libadd.so
          cc test.c -L. -ladd -Wl,-rpath=.         
          ./a.out
          ../../../build/c3c compile-run test.c3 -L . -l add -z -Wl,-rpath=.           

      - name: Compile and run staticlib-test
        run: |
          cd resources/examples/staticlib-test
          ../../../build/c3c -vv static-lib add.c3
          mv add.a libadd.a
          cc test.c -L. -ladd         
          ./a.out
          ../../../build/c3c compile-run test.c3 -L . -l add           

      - name: Compile run unit tests
        run: |
          cd test
          ../build/c3c compile-test unit -D SLOW_TESTS

      - name: Build testproject
        run: |
          cd resources/testproject
          ../../build/c3c run -vvv --trust=full

      - name: Test WASM
        run: |
          cd resources/testfragments
          ../../build/c3c compile --target wasm32 -g0 --no-entry -Os wasm4.c3

      - name: Install QEMU and Risc-V toolchain
        run: |
          sudo apt-get install opensbi qemu-system-misc u-boot-qemu gcc-riscv64-unknown-elf

      - name: Compile and run Baremetal Risc-V Example
        run: |
          cd resources/examples/embedded/riscv-qemu
          make C3C_PATH=../../../../build/ run

      - name: Build testproject direct linker
        run: |
          cd resources/testproject
          ../../build/c3c run -vvv --linker=builtin --trust=full

      - name: Init a library & a project
        run: |
          ./build/c3c init-lib mylib
          ls mylib.c3l
          ./build/c3c init myproject
          ls myproject

      - name: Vendor-fetch
        run: |
          ./build/c3c vendor-fetch raylib

      - name: run compiler tests
        run: |
          cd test
          ../build/c3c compile-run -O1 src/test_suite_runner.c3 -- ../build/c3c  test_suite/

      - name: run single compiler test standalone
        run: |
          cd test
          ../build/c3c compile src/test_suite_runner.c3
          ./test_suite_runner ../build/c3c test_suite/abi/linux_x64_test.c3t
          ../build/c3c compile test_suite/abi/linux_x64_test.c3t

      - name: bundle_output
        if: matrix.llvm_version == env.LLVM_RELEASE_VERSION_LINUX
        run: |
          mkdir c3
          cp -r lib c3
          cp msvc_build_libraries.py c3
          cp build/c3c c3
          cp README.md c3
          cp releasenotes.md c3
          tar czf c3-linux-${{matrix.build_type}}.tar.gz c3

      - name: upload artifacts
        if: matrix.llvm_version == env.LLVM_RELEASE_VERSION_LINUX
        uses: actions/upload-artifact@v4
        with:
          name: c3-linux-${{matrix.build_type}}
          path: c3-linux-${{matrix.build_type}}.tar.gz
